
.menu li.valitud {
	background: white;
}
.menu li.valitud a {
	color:#FF1493; 
}
.menu a{
	text-decoration:none; 
	color: black;
	font-weight:bold; 
	font-size:16px; 
	text-align:center; 
}
.menu a:hover{
	text-decoration: underline;
}
.menu{
	margin-bottom: 10px;
}
.menu ul{	
	list-style-type: none; //removes bullets//
	margin: 0px; 
	padding: 0px;
}
.menu li{
	padding: 5px 15px;
	width: 8em;
	background-color: SpringGreen;
	float: left;
	/*body>div {background: black;}
		div>ul>li>a {
			color:white;
			background: black;
			display: inline-block;
			padding: 4px 10px;
		}
*/
}
body {
	background: DeepPink;
}
.body {
	background: SpringGreen;
	max-width: 1000px;
	min-width: 600px;	
	margin: auto;
		}
.body h1{
	color:#FF1493;
}
.body div h1:hover, h2:hover, h3:hover{
	background-color:yellow;
}
.body div p:hover{
	font-size:20px; 
	background-color:white;
}
.body div img {
	border: 3px solid SpringGreen;
}
#heading {
	color: #FF1493;
}
#sisu {
	background-color: Snow;
}
