<!DOCTYPE html>
<html>

<head>
 	<title>ITIQ</title>
    	<meta charset="utf-8" />
    	<link rel="stylesheet" type="text/css" href="view/stiil.css">
   
    	<script src=""></script>
</head>

<body class="body">
<div class="menu">
    <h1>ITIQ - IT Küsimustik</h1>
    <ul>
    	<li>
            <a href="register.html">Registreeri</a>
        </li>
        <li>
            <a href="login.html">Logi sisse</a>
        </li>

        <li>
            <a href="questionary.html">Küsimused</a>
        </li>
	 <li>
            <a href="results.html">Tulemused</a>
        </li>
       
    </ul>   
<br>
<br>
<br>
<br>
<br>