* {
    margin: 0;
    padding: 0;
}

body {
    background-color: ghostwhite;
}

.page_container {
    border: 2px dotted;
    margin: auto;
    min-width: 600px;
    max-width: 1000px;
    min-height: 300px;
    background-color: white;
}


.menu ul {
    position: relative;
    top: 0;
    left: 0;
    width: 20%;
    height: 235px;
    overflow: auto;
    display: block;
    list-style-type: none;
}


.menu li a {
    display: block;
    font-size: medium;
    color: black;
    padding: 10px 10px 10px 20px;
    background-color: lightgray;
    text-decoration: none;
}


.menu li a:hover {
    color: white;
    background-color: dimgray;
}

.validator {
    position: absolute;
    float: right;
    bottom: 0px;
}

.content {
    position: relative;
    top: -200px;
    width: 80%;
    right: 0;
    margin-left: 20%;
}

.content p {
    cursor: col-resize;
    color: black;
    margin: 1em;
}

.content ol {
    margin: 1em;
    padding-left: 20px;
}

.content ul {
    margin: 1em;
    padding-left: 20px;
}

#top_h1 {
    margin: 1em;
    color: darkred;
    font-family: "Adobe Garamond Pro", monospace;
}

h2 {
    margin: 1em;
    border-style: dotted;
    border-radius: 15px;
}

pre {
    margin: 1em;
    border-style: inset;
}

pre:hover {
    border-style: outset;
}

em {
    font-style: oblique;
    color: aquamarine;
}


.underlined {
    text-decoration: underline;
}

img.images {
    width: 175px;
    border-style: ridge;
    border-width: thick;
}

img:hover.images {
    width: 150px;
}


#taust{ /* taust, mis peidab lehe sisu */
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.7);
    z-index:5;
}


#tabel{ /* toob suure pildi esile ja määrab kuvamise ala tabelina */
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin:0 auto;
    z-index: 10;
    display:table;
    width:100%;
    height:100%;
    color:white;
}
#cell{ /* paigutab pildi ja teksti vertikaalselt keskele nagu tabelivälja */
    display:table-cell;
    vertical-align:middle;
}
#sisu { /* teeb pildi ümbruse kitsamaks ja annab tausta */
    display: table;
    margin: auto;
    background: rgba(0,0,0,0.7);
    padding: 10px 40px;
    position: relative;
}
#sulge { /* sulgemise element */
    position: fixed;
    top: 0;
    right: 0;
    z-index: 15;
    padding:4px;
    font-weight: bold;
}
#hoidja {  /* ümbritseb kogu suure pildi elementide hulka 0px kõrgusena, et teised elemendid taga oleks kasutatavad*/
    height: 0px;
}

#prev, #next {
    display:block;
    position: absolute;
    top:0px;
    bottom:0px;
    width: 40px;
}
#prev:hover, #next:hover{
    background-color: rgba(255,255,255,0.1);
}
#prev {
    left:0px;
    background: url("prev.png") center no-repeat;
}
#next {
    right:0px;
    background: url("next.png") center no-repeat;
}

.error_message td {
    color: red;
}