<form action="?mode=img_upload<?php if (isset($_GET['id'])) echo "&id=" . htmlspecialchars($_GET['id']); ?>" method="post" enctype="multipart/form-data">
    <table>
        <?php if (isset($errors)):?>
        <?php foreach($errors as $error):?>
        <div style="color:red;"><?php echo htmlspecialchars($error); ?></div>
        <?php endforeach;?>
        <?php endif;?>
        <tr>
            <td>Title</td>
            <td><input type="text" name="title" value="<?php  if (isset($piltBaasist['pealkiri']))echo $piltBaasist['pealkiri']; ?>"></td>
        </tr>
        <tr>
            <td>Author</td>
            <td><input type="text" name="author"></td>
        </tr>
        <tr>
            <td>Original image file</td>
            <td><input type="file" name="img"></td>
        </tr>
        <tr>
            <td>Thumbnail file</td>
            <td><input type="file" name="thumb"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="<?php if ($operation == "edit") echo "Muuda"; else echo "Lisa";?>"></td>
        </tr>
    </table>
    
    <h2>Redigeeri olemasolevaid</h2>
    <?php
    foreach($GLOBALS['images'] as $image) {
    echo "<a href=\"?mode=img_upload&id=" . htmlspecialchars($image['id']) . "\">\n" . htmlspecialchars($image['id']) . " - " . htmlspecialchars($image['pealkiri']) . " - autor: " . htmlspecialchars($image['autor']) . "</a><br>\n";
    }
    ?>
</form>