<div id="sisu">
<img id="suurpilt" src="<?php echo $activeImage['big']?>" alt="<?php echo $activeImage['alt']?>"/><br/>
<span id="inf"><?php echo $activeImage['alt']?></span>
<a id="prev" href="?mode=image&id=<?php echo $eelmine; ?>" onclick="showDetails(this); return false;"><img src="img/prev.png"
                                                                                                           alt=""></a>
<a id="next" href="?mode=image&id=<?php echo $jargmine; ?>" onclick="showDetails(this); return false;"><img src="img/next.png"
                                                                                                            alt=""></a>
</div>