<h1 id="top_h1">Pealkiri</h1>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
    pariatur. Excepteur sint occaecat <em>cupidatat non proident</em>, sunt in culpa qui officia deserunt mollit anim id est
    laborum...
    <br>
    <img src="./img/html.png" class="images" alt="HTML-i pilt">
</p>

<h2>Vahepealkiri</h2>

<p>
    <a href="http://www.lipsum.com/">Lorem ipsum</a> dolor sit amet, <u>consectetur adipiscing elit</u>, sed do eiusmod tempor incididunt ut labore et dolore
    magna aliqua.
</p>
<ol>
    <li>Lorem ipsum bla bla bla..</li>
    <li>Lorem ipsum bla bla bla..</li>
    <li>Lorem ipsum bla bla bla..</li>
    <li>Lorem ipsum bla bla bla..</li>
</ol>

<h2>Vahepealkiri</h2>

<p class="underlined">
    Lorem <b>ipsum</b> dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
    magna aliqua.
</p>

<ul>
    <li>Lorem ipsum bla bla bla..</li>
    <li>Lorem ipsum bla bla bla..</li>
    <li>Lorem ipsum bla bla bla..</li>
    <li>Lorem ipsum bla bla bla..</li>
</ul>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
    magna aliqua:
</p>
    <pre>
Ut enim ad minim veniam, quis nostrud exercitation ullamco
laboris nisi ut aliquip ex ea commodo consequat.
Duis aute irure dolor in reprehenderit in voluptate velit
esse cillum dolore eu fugiat nulla pariatur.
    </pre>