<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>minu blogi</title>
		<link rel="stylesheet" type="text/css" href="stiil.css" />
	</head>
	<body>
	<div id="wrap">
	<ul id="menu">
		<li><a href="?">pealeht</a></li>
		<?php if(empty($_SESSION['user'])): ?>
			<li><a href="?page=register">registreeru</a></li>
			<li><a href="?page=login">logi sisse</a></li>
		<?php else: ?>
		<li><a href="?page=postit">Postita midagi</a></li>
			<li><a href="?page=logout">logi välja</a></li>
			<?php endif;?>
	</ul>
	<div id="content">
	
<?php if(!empty($_SESSION['message'])): ?>
		<p style="color:red"><?php echo $_SESSION['message']; ?></p>
<?php unset($_SESSION['message']);
endif;?>