<?php if (!empty($postitused)): 
	foreach($postitused as $post):
?>
<div class="post">
<a href="?page=post&id=<?php echo htmlspecialchars($post['id']);?>">
	<?php echo htmlspecialchars($post['title']);?>
</a> 

<a href="?page=post&id=<?php echo htmlspecialchars($post['id']);?>#kommentaarid">
	(<?php echo htmlspecialchars($post['komme']);?>)
</a> 

kasutaja 
<a href="?page=posts&user=<?php echo htmlspecialchars($post['postitaja']);?>"><?php echo htmlspecialchars($post['postitaja']);?>
</a>
 poolt.
</div>

<?php endforeach; 
	endif;
?>