<form action="?page=postit" method="POST">
<input type="text" placeholder="pealkiri" name="title" value="<?php if (!empty($_POST['title'])) echo htmlspecialchars($_POST['title']);?>"/><br/>

<textarea name="content" rows="10" cols="60"><?php if (!empty($_POST['content'])) echo htmlspecialchars($_POST['content']);?></textarea><br/>

<input type="submit" value="postita"/>
</form>

<?php if(!empty($errors)):
	foreach($errors as $e):?>
		<p style="color:red"><?php echo $e; ?></p>
<?php	endforeach;
endif;?>