<!-- päis on failis head.html --->
		<h1>Galerii</h1>
		<table border="1">
		<?php foreach ($pildid as $big => "href" $small => "src" $alt => "alt")
			<caption>Kvartskujud</caption>
			<tr>
				<td><a href="/img/delfiin.jpeg"><img src="/thumb/delfiin_thumb.jpeg" alt="delfiin"/></a></td>
				<td><a href="/img/elevant.jpeg"><img src="/thumb/elevant_thumb.jpeg" alt="elevant"/></a></td>
				<td><a href="/img/kolju.jpeg"><img src="/thumb/kolju_thumb.jpeg" alt="kolju"/></a></td>
				<td><a href="/img/kuju.jpeg"><img src="/thumb/kuju_thumb.jpeg" alt="kuju"/></a></td>			
			</tr>
			<tr>
				<td><a href="/img/kuul.jpeg"><img src="/thumb/kuul_thumb.jpeg" alt="kuul"/></a></td>
				<td><a href="/img/pea.jpeg"><img src="/thumb/pea_thumb.jpeg" alt="pea"/></a></td>
				<td><a href="/img/siga.jpeg"><img src="/thumb/siga_thumb.jpeg" alt="siga"/></a></td>
				<td><a href="/img/süda.jpeg"><img src="/thumb/süda_thumb.jpeg" alt="süda"/></a></td>			
			</tr>
			<tr>
				<td><a href="/img/täht.jpeg"><img src="/thumb/täht_thumb.jpeg" alt="täht"/></a></td>
			</tr>
			?>
		</table>
		<div id="hoidja" style="display:none;">
<!-- alumine osa on failis head.html --->	
